@import 'public/styles/index';

.bottom-panel {
  background-color: $main-blue;
  flex: 1 1 auto;
  border: 1px solid $border-blue;
  display: flex;
  flex-flow: column;
  .tabs {
    display: inline-flex;
    flex-direction: row;
  }
  .content {
    margin: 10px 10px 30px;
    padding: 10px;
    box-sizing: border-box;
    background-color: $body-light-blue;
    height: 100%;
    border: 2px solid $border-blue;
    overflow: hidden;
  }
}