@import "public/styles/index";

.left-panel {
  background-color: $main-blue;
  height: 100%;
  border: 1px solid $border-blue;
  padding: 10px;
  box-sizing: border-box;
  .content-wrapper {
    box-sizing: border-box;
    background-color: $body-light-blue;
    height: 100%;
    border: 1px solid $border-blue;
    overflow: auto;
    .content {
      margin: 10px;
      .categories {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
