@import "public/styles/index";

.right-panel {
  background-color: $main-blue;
  height: 100%;
  border: 1px solid $border-blue;
  padding: 10px;
  box-sizing: border-box;
  .content {
    background-color: $body-light-blue;
    height: 100%;
    border: 2px solid $border-blue;
  }
}
